BLOCKCHAIN_DEPLOY_RPC_URL="YOUR_NETWORK_RPC_URL"
BLOCKCHAIN_DEPLOY_CHAIN_ID="YOUR_NETWORK_CHAIN_ID"
BLOCKCHAIN_EXPLORER_URL="YOUR_NETWORK_EXPLORER_URL"
DEPLOYER_PRIVATE_KEY="YOUR_TESTNET_DEPLOYER_PRIVATE_KEY"
LOCAL_BLOCKCHAIN_RPC_URL="http://127.0.0.1:8545"
ETHERSCAN_API_KEY=""
